doctype
html
  
  head
    title Tail of file #{logfilename}

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript').
        var grep =!{JSON.stringify(grep)}
    script(type='text/javascript' src='/JS/js_display_file.js')
    link(href='/stylesheets/style_display_file.css', rel='stylesheet')

  div#top
      a(href='/tails')
        img(src='/images/home.png' width="50px")
      button#stop Stop Logs
      h1 Tail of file #{logfilename}
      form(method="GET", action="#{currenturl}")
        input(type="hidden", name="filename", value="#{log}")
        p Grep Keyword
          input(type="text", name="grep")
          input(type="submit")      

  .content
        p#status
        .out Tail-output
          ul#tail
  div#withoutreason
  br
  br